{% extends "recipes/base.html" %}
{% load static %}

{% block content %}
  <div class="container py-5">
    <form id="create-grocery-list-form" method="post">
      {% csrf_token %}
      <label for="name">Name:</label><br />
      <input type="text" id="name" name="name" required /><br />
      <input type="submit" class="btn btn-primary my-1" value="Create New List" />
    </form>
    <form id="grocery-list-form" class="my-2" method="post">
      {% csrf_token %} {{ grocery_list_form.as_p }}
      <button id="select-list-btn" type="button" class="btn btn-primary">Select List</button>
      <button id="delete-list-btn" type="button" class="btn btn-primary">Delete List</button>
    </form>
    <form id="recipe-form" method="post">
      <p>Please select and submit a grocery list first</p>
      {% include 'recipes/recipe_form.html' %}
    </form>
    <h2 class="my-5">Planned Recipes</h2>
    <ul class="list-group" id="planned-recipes"></ul>
    <h2 class="my-5">Ingredients</h2>
    <ul id="ingredients" class="list-group"></ul>
  </div>
  <script>
    $(document).ready(function () {
      $("#create-grocery-list-form").submit(function (e) {
        e.preventDefault();
        $.ajax({
          url: "{% url 'create_grocery_list' %}",
          type: "POST",
          data: {
            name: $("#name").val(),
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
          },
          success: function (response) {
            alert("Grocery list created successfully!");
            location.reload();
          },
        });
      });

      $("#select-list-btn").click(function () {
        var form_data = $("#grocery-list-form").serialize();
        $.ajax({
          url: "{% url 'generate_recipe_select_form' %}",
          method: "POST",
          data: form_data,
          success: function (data) {
            generate_recipe_select_form(data);
          },
        });

        $.ajax({
          url: "{% url 'get_planned_recipes' %}",
          method: "GET",
          data: form_data,
          success: function (data) {
            generate_planned_recipes_list(data);

            var deleteUrlTemplate = "{% url 'delete_planned_recipe' 12345 %}"; //FIXME
            $(".delete-button").on("click", function () {
              const plannedRecipeId = $(this).data("id");
              var deleteUrl = deleteUrlTemplate.replace('12345', plannedRecipeId);
              $.ajax({
                url: deleteUrl,
                type: "DELETE",
                success: function (result) {
                  $(`#planned-recipe-${plannedRecipeId}`).remove();
                },
                error: function (result) {
                  alert("There was an error deleting the planned recipe.");
                },
              });
            });
          },
        });

        $.ajax({
          url: "{% url 'get_planned_ingredients' %}",
          method: "GET",
          data: form_data,
          success: function (data) {
            update_ingredients_list(data);
          },
        });
      });

      $("#delete-list-btn").click(function () {
        var form_data = $("#grocery-list-form").serialize();
        $.ajax({
          url: "{% url 'delete_grocery_list' %}",
          method: "POST",
          data: form_data,
          success: function (data) {
            location.reload();
          },
        });
      });

      // FIXME
      $("#recipe-form").submit(function (e) {
        e.preventDefault();
        var form_data1 = $(this).serializeArray();
        var form_data_grocery_list = $("#grocery-list-form").serializeArray();

        var groceryList = form_data_grocery_list.find(function (item) {
          return item.name === "grocery_list";
        });

        if (groceryList) {
          form_data1.push(groceryList);
        }
        var form_data = $.param(form_data1);
        $.ajax({
          url: "{% url 'save_planned_recipe' %}",
          method: "POST",
          data: form_data,
          success: function (data) {
            if (data.success) {
              $.ajax({
                url: "{% url 'get_planned_ingredients' %}",
                method: "GET",
                data: form_data,
                success: function (data) {
                  update_ingredients_list(data);
                },
              });
            }
          },
        });
      });
    });
  </script>
  <script src="{% static 'recipes/update_ingredients_list.js' %}"></script>
  <script src="{% static 'recipes/generate_recipe_select_form.js' %}"></script>
  <script src="{% static 'recipes/generate_planned_recipes_list.js' %}"></script>
{% endblock %}
