{% extends "recipes/base.html" %}
{% load static %}

{% block content %}
<!-- TODO cleanup url replace method -->
<script>var deletePlannedRecipeUrlTemplate = "{% url 'delete_planned_recipe' '99999999' %}";</script>
<script>var deletePlannedExtraUrlTemplate = "{% url 'delete_planned_extra' '99999999' %}";</script>
<div class="container py-5">
  <form id="create-grocery-list-form" method="post">
    {% csrf_token %}
    <label for="name">Name:</label><br />
    <input type="text" id="name" name="name" required /><br />
    <input type="submit" class="btn btn-primary my-1" value="Create New List" />
  </form>
  <form id="grocery-list-form" class="my-2" method="post">
    {% csrf_token %} {{ grocery_list_form.as_p }}
    <button id="select-list-btn" type="button" class="btn btn-primary">Select List</button>
    <button id="delete-list-btn" type="button" class="btn btn-primary">Delete List</button>
  </form>
  <form id="recipe-form" method="post">
    <p>Please select and submit a grocery list first</p>
    {% include 'recipes/recipe_form.html' %}
  </form>
  <h2 class="my-5">Planned Recipes</h2>
  <ul class="list-group" id="planned-recipes"></ul>
  <h2 class="my-5">Ingredients</h2>
  <ul id="ingredients" class="list-group"></ul>
  <h2 class="my-5">Extras</h2>
  <form id="extras-form" method="post">
    <p>Please select and submit a grocery list first</p>
    {% include 'recipes/extras_form.html' %}
  </form>
  <ul class="list-group" id="planned-extras"></ul>
</div>
<script>
  document.getElementById("create-grocery-list-form").addEventListener("submit", async (event) => {
    event.preventDefault();

    const formData = new FormData(event.target);
    console.log(formData);

    try {
      const fetchOptions = {
        method: "POST",
        body: formData,
      };

      const response = await fetch("{% url 'create_grocery_list' %}", fetchOptions);
      window.location.reload();
    } catch (error) {
      console.error("Error", error);
    }
  });

  document.getElementById("delete-list-btn").addEventListener("click", async (event) => {
    event.preventDefault();
    const formData = new FormData(document.getElementById("grocery-list-form"));

    try {
      const fetchOptions = {
        method: "POST",
        body: formData,
      };
      const response = await fetch("{% url 'delete_grocery_list' %}", fetchOptions);
      window.location.reload();
    } catch (error) {
      console.error("Error", error);
    }
  });

  document.getElementById("select-list-btn").addEventListener("click", async (event) => {
    event.preventDefault();
    const formData = new FormData(document.getElementById("grocery-list-form"));

    try {
      const fetchOptions = {
        method: "POST",
        body: formData,
      };
      const response = await fetch("{% url 'generate_recipe_select_form' %}", fetchOptions);
      const data = await response.json();
      generate_recipe_select_form(data);
      generate_extras_select_form(data);
    } catch (error) {
      console.error("Error", error);
    }

    const queryParams = new URLSearchParams();
    for (const [key, value] of formData) {
      queryParams.append(key, value);
    }

    try {
      const fetchOptions = {
        method: "GET",
      };
      const response = await fetch(
        `{% url 'get_planned_recipes' %}?${queryParams.toString()}`,
        fetchOptions
      );
      const data = await response.json();
      generate_planned_recipes_list(data);
    } catch (error) {
      console.error("Error", error);
    }

    try {
      const fetchOptions = {
        method: "GET",
      };
      const response = await fetch(
        `{% url 'get_planned_ingredients' %}?${queryParams.toString()}`,
        fetchOptions
      );
      const data = await response.json();
      update_ingredients_list(data);
    } catch (error) {
      console.error("Error", error);
    }

    // TODO Simplfy DRY
    try {
      const fetchOptions = {
        method: "GET",
      };
      const response = await fetch(
        `{% url 'get_planned_extras' %}?${queryParams.toString()}`,
        fetchOptions
      );
      const data = await response.json();
      generate_planned_extras_list(data);
    } catch (error) {
      console.error("Error", error);
    }
  });

  document.getElementById("recipe-form").addEventListener("submit", async (event) => {
    event.preventDefault();

    const serializeForm = (form) =>
      Array.from(new FormData(form), (e) => ({ name: e[0], value: e[1] }));
    let form_data1 = serializeForm(event.target);
    let form_data_grocery_list = serializeForm(document.getElementById("grocery-list-form"));
    let groceryList = form_data_grocery_list.find((item) => item.name === "grocery_list");

    if (groceryList) {
      form_data1.push(groceryList);
    }
    const toUrlEncoded = (obj) =>
      obj
        .map((item) => encodeURIComponent(item.name) + "=" + encodeURIComponent(item.value))
        .join("&");
    let form_data = toUrlEncoded(form_data1);

    try {
      const fetchOptions = {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
        },
        body: form_data,
      };

      console.log(form_data);
      await fetch(`{% url 'save_planned_recipe' %}?${form_data}`, fetchOptions);

      const response = await fetch(`{% url 'get_planned_ingredients' %}?${form_data}`);
      const data = await response.json();
      update_ingredients_list(data);
    } catch (error) {
      console.error("Error", error);
    }

    // TODO Simplfy DRY
    const formData = new FormData(document.getElementById("grocery-list-form"));
    const queryParams = new URLSearchParams();
    for (const [key, value] of formData) {
      queryParams.append(key, value);
    }
    try {
      const fetchOptions = {
        method: "GET",
      };
      const response = await fetch(
        `{% url 'get_planned_recipes' %}?${queryParams.toString()}`,
        fetchOptions
      );
      const data = await response.json();
      generate_planned_recipes_list(data);
    } catch (error) {
      console.error("Error", error);
    }

    // TODO Simplfy DRY
    try {
      const fetchOptions = {
        method: "GET",
      };
      const response = await fetch(
        `{% url 'get_planned_extras' %}?${queryParams.toString()}`,
        fetchOptions
      );
      const data = await response.json();
      generate_planned_extras_list(data);
    } catch (error) {
      console.error("Error", error);
    }

  });
  // TODO Make DRY - extras
  document.getElementById("extras-form").addEventListener("submit", async (event) => {
    event.preventDefault();

    const serializeForm = (form) =>
      Array.from(new FormData(form), (e) => ({ name: e[0], value: e[1] }));
    let form_data1 = serializeForm(event.target);
    let form_data_grocery_list = serializeForm(document.getElementById("grocery-list-form"));
    let groceryList = form_data_grocery_list.find((item) => item.name === "grocery_list");

    if (groceryList) {
      form_data1.push(groceryList);
    }
    const toUrlEncoded = (obj) =>
      obj
        .map((item) => encodeURIComponent(item.name) + "=" + encodeURIComponent(item.value))
        .join("&");
    let form_data = toUrlEncoded(form_data1);

    try {
      const fetchOptions = {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
        },
        body: form_data,
      };

      console.log(form_data);
      await fetch(`{% url 'save_planned_extra' %}?${form_data}`, fetchOptions);

      const response = await fetch(`{% url 'get_planned_ingredients' %}?${form_data}`);
      const data = await response.json();
      update_ingredients_list(data);
    } catch (error) {
      console.error("Error", error);
    }

    // TODO Simplfy DRY
    const formData = new FormData(document.getElementById("grocery-list-form"));
    const queryParams = new URLSearchParams();
    for (const [key, value] of formData) {
      queryParams.append(key, value);
    }
    try {
      const fetchOptions = {
        method: "GET",
      };
      const response = await fetch(
        `{% url 'get_planned_recipes' %}?${queryParams.toString()}`,
        fetchOptions
      );
      const data = await response.json();
      generate_planned_recipes_list(data);
    } catch (error) {
      console.error("Error", error);
    }
    // TODO Simplfy DRY
    try {
      const fetchOptions = {
        method: "GET",
      };
      const response = await fetch(
        `{% url 'get_planned_extras' %}?${queryParams.toString()}`,
        fetchOptions
      );
      const data = await response.json();
      generate_planned_extras_list(data);
    } catch (error) {
      console.error("Error", error);
    }
  });  

</script>
<script src="{% static 'recipes/update_ingredients_list.js' %}"></script>
<script src="{% static 'recipes/generate_recipe_select_form.js' %}"></script>
<script src="{% static 'recipes/generate_planned_recipes_list.js' %}"></script>
<script src="{% static 'recipes/generate_extras_select_form.js' %}"></script>
<script src="{% static 'recipes/generate_planned_extras_list.js' %}"></script>
{% endblock %}
