<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Sum</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container py-5">
      <form id="recipe-form" method="post">
        {% csrf_token %} {{ form.as_p }}
        <div id="guests"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <h2 class="my-5">Ingredients</h2>
      <ul id="ingredients" class="list-group"></ul>
    </div>
    <script>
      $(document).ready(function () {
        $("#id_recipes").change(function () {
          var selectedRecipes = $(this).children("option:selected").length;
          $("#guests").empty();
          for (i = 0; i < selectedRecipes; i++) {
            $("#guests").append(
              '<input type="number" name="guests" min="1" class="form-control my-2" placeholder="Number of guests for recipe ' +
                (i + 1) +
                '">'
            );
          }
        });

        $("#recipe-form").submit(function (e) {
          e.preventDefault();
          var form_data = $(this).serialize();
          $.ajax({
            url: "{% url 'save_grocery_list' %}",
            method: "POST",
            data: form_data,
            success: function (data) {
              if(data.success){
                $.ajax({
                  url: "{% url 'get_grocery_list' %}",
                  method: "GET",
                  success: function (data) {
                    console.log(data);
                    $("#ingredients").empty();
                    for (var name in data) {
                      $("#ingredients").append(
                        '<li class="list-group-item">' + name + ": " + data[name] + "</li>"
                      );
                    }
                  },
                });
              }
            },
          });
        });
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
