{% extends "recipes/base.html" %} {% load static %} {% block content %}
<div class="container py-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-4">{{ recipe.title }}</h1>
        <div>
          <button id="decrease-guests" class="btn btn-secondary">-</button>
          <span id="guest-count">1</span>
          <button id="increase-guests" class="btn btn-primary">+</button>
        </div>
      </div>
      {% if recipe.image %}
      <img
        src="{{ recipe.image.url }}"
        alt="{{ recipe.title }}"
        class="img-fluid mx-auto d-block"
      />
      {% endif %}
      <ul id="ingredients" class="list-group mt-4"></ul>
      <h2 class="mt-4">Instructions</h2>
      <span class="recipe-description mt-4"> {{ recipe.content|linebreaks }} </span>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const guestCountEl = document.getElementById("guest-count");

    function fetchUpdatedIngredients() {
      const recipeSlug = `{{ recipe.slug }}`;
      const guests = guestCountEl.textContent;

      fetch(`/recipes/get_formatted_ingredients/${recipeSlug}/${guests}/`)
        .then((response) => response.json())
        .then((data) => {
          update_ingredients_list(data);
        });
    }
    fetchUpdatedIngredients();

    // Increase guest count event listener
    document.getElementById("increase-guests").addEventListener("click", function () {
      let currentGuestCount = parseInt(guestCountEl.textContent, 10);
      guestCountEl.textContent = currentGuestCount + 1;
      fetchUpdatedIngredients();
    });

    // Decrease guest count event listener
    $("#decrease-guests").on("click", function () {
      let currentGuestCount = parseInt(guestCountEl.textContent, 10);
      if (currentGuestCount > 1) {
        guestCountEl.textContent = currentGuestCount - 1;
        fetchUpdatedIngredients();
      }
    });

    fetchUpdatedIngredients();
  });
</script>
<script src="{% static 'recipes/recipe_ingredients.js' %}"></script>
{% endblock %}
