{% extends "recipes/base.html" %}

{% block content %}
    <div class="container py-5">
      <h1 class="mb-5">Latest Recipes</h1>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for recipe in recipes %}
        <div class="col">
          <div class="card h-100">
            {% if recipe.image %}
            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="card-img-top" />
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ recipe.title }}</h5>
            </div>
            <div class="card-footer">
              <a href="{% url 'recipe_uncounted_view' recipe_slug=recipe.slug %}" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        {% empty %}
        <p>No recipes yet.</p>
        {% endfor %}
      </div>
    </div>
{% endblock %}